/* web/static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e8491d;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

h2 {
    color: #35424a;
}

p {
    margin: 0 0 10px;
}

a {
    color: #e8491d;
}

a:hover {
    color: #35424a;
}
